<section class="block container block-features">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, odio!
    </p>
  </header>
  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#easy" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fuga.
        Quis quos dolores deserunt explicabo porro ipsa esse iste? Ipsam.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/easy.webp 1x, ./images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy.jpg 1x, ./images/easy@2x.jpg 2x"
      />
      <img
        src="./images/easy@2x.jpg"
        alt="easy to use our service"
        class="feature__image"
      />
    </picture>
  </article>
  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#computer" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fuga.
        Quis quos dolores deserunt explicabo porro ipsa esse iste? Ipsam.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/easy.webp 1x, ./images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy.jpg 1x, ./images/easy@2x.jpg 2x"
      />
      <img
        src="./images/easy@2x.jpg"
        alt="easy to use our service"
        class="feature__image"
      />
    </picture>
  </article>
  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#wordpress" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fuga.
        Quis quos dolores deserunt explicabo porro ipsa esse iste? Ipsam.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/easy.webp 1x, ./images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy.jpg 1x, ./images/easy@2x.jpg 2x"
      />
      <img
        src="./images/easy@2x.jpg"
        alt="easy to use our service"
        class="feature__image"
      />
    </picture>
  </article>
  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#clock" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fuga.
        Quis quos dolores deserunt explicabo porro ipsa esse iste? Ipsam.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="./images/easy.webp 1x, ./images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy.jpg 1x, ./images/easy@2x.jpg 2x"
      />
      <img
        src="./images/easy@2x.jpg"
        alt="easy to use our service"
        class="feature__image"
      />
    </picture>
  </article>
</section>
