<footer class="block block--dark block-footer">
  <div class="block-footer__items container">
    <div class="block-footer__item block-footer__brand">
      <img src="./images/logo.svg" alt="moshify logo" />
      <p>Copyright 2023 hojat Ghasemi</p>
    </div>
    <section class="block-footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__toggler">
          <use href="images/sprite.svg#chevron" />
        </svg>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item"><a href="#">Website Hosting</a></li>
        <li class="list__item"><a href="#">Free Automated Wordpress</a></li>
        <li class="list__item"><a href="#">Migrations</a></li>
      </ul>
    </section>
    <section class="block-footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__toggler">
          <use href="images/sprite.svg#chevron" />
        </svg>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item"><a href="#">About</a></li>
        <li class="list__item"><a href="#">Affiliates</a></li>
        <li class="list__item"><a href="#">Blog</a></li>
      </ul>
    </section>
    <section class="block-footer__item collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__toggler">
          <use href="images/sprite.svg#chevron" />
        </svg>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item"><a href="#">Contact</a></li>
        <li class="list__item"><a href="#">Knowledge Base</a></li>
        <li class="list__item"><a href="#">FAQ</a></li>
      </ul>
    </section>
    <section class="block-footer__item collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__toggler">
          <use href="images/sprite.svg#chevron" />
        </svg>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item"><a href="#">Domain Checker</a></li>
        <li class="list__item"><a href="#">Domain Transfer</a></li>
        <li class="list__item"><a href="#">Free Domain</a></li>
      </ul>
    </section>
  </div>
</footer>
